<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/stylesheets/events/event.css" rel="stylesheet">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <script src="/javascripts/components/header.js" defer></script>
        <script src="/javascripts/icon.js" defer></script>

        <link rel="icon" href="/images/logo-light.svg" type="image/svg+xml">
        <title>ShowPass</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Barra de navegação -->
        <header id="header">
            <%- include('../components/header') %>
        </header>

        <!-- Conteúdo da página -->
        <div class="content flex-grow-1" id="content">
            <!-- Imagem do evento -->
            <div class="event-img">
                <img src="<%= event.image %>" alt="Banner do evento">
            </div>

            <nav class="event-nav text-center">
                <a href="#ticket-section" class="btn-link">Ingressos</a>
                <a href="#info-section" class="btn-link">Sobre o evento</a>
            </nav>

            <!-- Seção de ingressos -->
            <section class="tickets" id="ticket-section" class="container mt-5">
                <div class="row">
                    <!-- Ingressos -->
                    <% event.dates.forEach(date => { %>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <a href="<%= date.link %>/data-<%= date.index %>">
                                    <img src="<%= event.image %>" class="card-img-top" alt="Imagem do evento">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><%= date.city %> - <%= date.state %></h5>
                                    <p class="card-text"><%= date.locale %></p>
                                    <p class="card-text"><%= date.date %></p>
                                    <a href="<%= date.link %>/data-<%= date.index %>" class="btn btn-primary">Comprar Ingressos</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </section>

            <!-- Seção sobre o evento -->
            <section id="info-section" class="container mt-3 mb-5">
                <div class="info">
                    <h2 class="info-title mb-4">Informações gerais</h2>
                    <p><%- event.infos %></p>
                    <h2 class="info-title mb-4 mt-5">Classificação indicativa</h2>
                    <p><%- event.classification %></p>
                    <h2 class="info-title mb-4 mt-5">Venda de ingressos</h2>
                    <p><%- event.ticketSell %></p>
                    <h2 class="info-title mb-4 mt-5">Setores e valores</h2>
                    <p><%- event.ticketPrice %></p>
                    <div class="img-sector d-flex justify-content-center">
                        <img src="<%= event.sectorImage %>" alt="Setores do evento">
                    </div>
            </div>
            </section>
        </div>
        
        <!-- Rodapé  -->
        <footer id="footer">
            <%- include('../components/footer') %>
        </footer>
    </body>
</html>