<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/stylesheets/events/ticket.css" rel="stylesheet">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <script src="/javascripts/components/header.js" defer></script>
        <script src="/javascripts/icon.js" defer></script>
        <script src="/javascripts/events/ticket.js" defer></script>
        <script>const sectorPrices = <%- JSON.stringify(date.sectors) %>;</script>

        <link rel="icon" href="/images/logo-light.svg" type="image/svg+xml">
        <title>ShowPass</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Barra de navegação -->
        <header id="header">
            <%- include('../components/header') %>
        </header>

        <!-- Conteúdo da página -->
        <div class="content flex-grow-1" id="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- Mapa do evento -->
                    <div class="col-md-8 map-container">
                        <img src="<%= date.sectorImage %>" alt="Mapa do evento">
                    </div>
        
                    <div class="col-md-4 p-4">
                        <!-- Lista de setores -->
                        <div id="sector-list" class="ticket-section">
                            <h4 class="mb-4">Selecione um setor</h4>
                            <ul class="list-group">
                                <% Object.keys(date.sectors).forEach(sector => { %>
                                    <%
                                        const categories = date.sectors[sector];
                                        let minPrice = Infinity;
                                        Object.keys(categories).forEach(category => {
                                            const ticket = categories[category];
                                            minPrice = Math.min(minPrice, ticket.value);
                                        });
                                    %>
                                    <li class="list-group-item" onclick="showTickets(this)">
                                        <div class="info">
                                            <strong><%= sector %></strong><br>
                                            <span>A partir de R$ <%= minPrice.toFixed(2) %></span>
                                        </div>
                                        <span class="arrow">></span>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
        
                        <!-- Lista de ingressos (oculta inicialmente) -->
                        <div id="ticket-list" class="ticket-section d-none">
                            <button class="btn btn-back" onclick="goBack()"> 
                                &larr; 
                                <h4 id="selected-sector" class="mb-4"></h4> 
                            </button>
                            <ul class="list-group" id="ticket-items">
                                <!-- Itens de ingressos serão inseridos aqui pelo JS -->
                            </ul>

                            <div id="checkout-section" class="checkout-container d-none mt-4">
                                <div class="total-display">
                                    <p id="total-price" class="fw-bold">Total: R$ 0,00</p>
                                </div>
                                <a href="data-<%= index %>/confirmacao" class="btn btn-primary checkout-btn">Continuar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Rodapé  -->
        <footer id="footer">
            <%- include('../components/footer') %>
        </footer>
    </body>
</html>