<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/stylesheets/index.css" rel="stylesheet"> 
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <script src="/javascripts/components/header.js" defer></script>
        <script src="/javascripts/icon.js" defer></script>

        <link rel="icon" href="/images/logo-light.svg" type="image/svg+xml">
        <title>ShowPass</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Barra de navegação -->
        <header id="header">
            <%- include('components/header') %>
        </header>

        <!-- Conteúdo da página -->
        <div class="content flex-grow-1" id="content">
            <!-- Barra de pesquisa -->
            <%- include('components/search-bar') %>

            <!-- Banner SlideShow inicial -->
            <div id="custom-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <% carouselEvents.forEach((event, index) => { %>
                        <button type="button" data-bs-target="#custom-carousel" data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>" aria-current="<%= index === 0 ? 'true' : '' %>" aria-label="Slide <%= index + 1 %>"></button>
                    <% }); %>
                </div>
                <div class="carousel-inner">
                    <% carouselEvents.forEach((event, index) => { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <a href="<%= event.link %>">
                                <img src="<%= event.image %>" class="d-block w-100" alt="<%= event.name %>">
                            </a>
                            <div class="carousel-caption">
                                <h5><%= event.name %></h5>
                                <p><%= event.description %></p>
                                <a href="<%= event.link %>" class="btn btn-shop">Comprar</a>
                            </div> 
                        </div>
                    <% }); %>
                </div>

                <!-- Controles -->
                <button class="carousel-control-prev" type="button" data-bs-target="#custom-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#custom-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>

            <!-- Seções de Eventos -->
            <% eventsSections.forEach(section => { %>
                <section class="event-section py-5">
                    <div class="container">
                        <!-- Título da seção -->
                        <div class="text-center mb-4">
                            <h2 class="section-title"><%= section.section %></h2>
                        </div>
                        <!-- Cards de eventos -->
                        <div class="row">
                            <% section.events.forEach(event => { %>
                                <div class="col-md-4 mb-4">
                                    <a href="<%= event.link %>" class="event-card">
                                        <div class="card h-80">
                                            <img src="<%= event.image %>" class="card-img-top" alt="<%= event.name %>">
                                            <div class="card-body">
                                                <h5 class="card-title"><%= event.name %></h5>
                                                <p class="card-text"><%= event.description %></p>
                                                <a href="<%= event.link %>" class="btn btn-shop" id="btn-card-shop">Comprar</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </section>
<% }); %>

        <!-- Rodapé  -->
        <footer id="footer">
            <%- include('components/footer') %>
        </footer>
    </body>
</html>